@page
@model HideoutModel
@{
    ViewData["Title"] = "Hideout";
}
<head>
    <h1>Hideout</h1>
</head>
<body>
    <div class="container">
        <div class="row" id="grid"></div>
    </div>
</body>

<script>
    async function getStations() {
        const response = await fetch("/Content/Hideout?handler=Stations", {
            method: "GET",
            headers: { "Accept": "application/json" }
        });

        if (response.ok === true) {
            const result = await response.json();

            if (result.success === false && result.redirectUrl) {
                window.location.href = result.redirectUrl;
            }
            else {
                const stations = result.stations;
                stations.forEach(station => createStation(station));
            }
        }
    }

    function createStation(station) {
        const newCol = document.createElement("div");
        newCol.className = "col-12 col-sm-6 col-md-4 col-lg-3";
        const newStation = document.createElement("div");
        newStation.className = "p-3 mb-3 bg-primary text-white text-center";
        newStation.textContent = station.name;

        const levelDiv = document.createElement("div");
        levelDiv.className = "mt-3 d-flex justify-content-center align-items-center";

        const downButton = document.createElement("button");
        downButton.className = "btn btn-light me-2";
        downButton.textContent = "-";
        levelDiv.appendChild(downButton);

        const level = document.createElement("span");
        level.className = "mx-2";
        level.textContent = station.Level;
        levelDiv.appendChild(level);

        const upButton = document.createElement("button");
        upButton.className = "btn btn-light ms-2";
        upButton.textContent = "+";
        levelDiv.appendChild(upButton);

        newStation.appendChild(levelDiv);
        newCol.appendChild(newStation);
        grid.appendChild(newCol);
    }

    const grid = document.getElementById("grid");
    getStations();
</script>
