@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>Please make sure to update the database on the first launch.</h4>
    <p>
        You can do this by logging into the admin account and clicking the "Update database" button in the dropdown menu
        after clicking on the nickname in the top right corner of the screen.
    </p>
    <p>Login: Brian13</p>
    <p>Password: 123456</p>
</div>
